@import '_variables.scss';
@import 'partials/media-queries.scss';
@import 'partials/grid.scss';

.loader-ring {
    /* change color here */
    color: #1c4c5b;
    box-sizing: border-box;

    &:after {
        box-sizing: border-box;
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: loader-ring 1.2s linear infinite;
    }

    display: inline-block;
    width: 80px;
    height: 80px;
}

@keyframes loader-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}